<extend name="./Application/Common/View/layout.html" />
<block name="subtitle">{$Think.lang.ADMIN_DASHBOARD_TITLE}&nbsp;<a href="{:U('logout')}" role="button" class="btn btn-default btn-"><span class="glyphicon glyphicon-log-out"></span>&nbsp;登出</a></block>
<block name="body">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">选手信息</a></li>
      <li role="presentation"><a href="{:U('Admin/Grading/index')}">评分系统</a></li>
    </ul>
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th class="hidden-xs hidden-sm">Name</th>
        <th>{$Think.lang.NAME}</th>
        <th class="hidden-xs hidden-sm">SU Mail</th>
        <th class="hidden-xs">{$Think.lang.MOBILE}</th>
        <th>{$Think.lang.SONG}</th>
        <th class="hidden-xs hidden-sm">{$Think.lang.note}</th>
        <th class="hidden-xs hidden-sm hidden-md">{$Think.lang.REGISTER_TIME}</th>
        <th class="hidden-xs hidden-sm">{$Think.lang.STATUS}</th>
        <th class="hidden-xs hidden-sm">{$Think.lang.ACCOMPANY_SUBMISSION_STATUS}</th>
      </thead>
      <tbody>
        <volist name="contestants" id="contestant">
        <tr>
          <th>{$i}</th>
          <td class="hidden-xs hidden-sm">{$contestant.firstname}&nbsp;{$contestant.lastname}</td>
          <td>{$contestant.name}</td>
          <td class="hidden-xs hidden-sm"><a href="mailto:{$contestant.netid}@syr.edu">{$contestant.netid}@syr.edu</a></td>
          <td class="hidden-xs"><a href="tel:{$contestant.mobile}">{$contestant.mobile}</a></td>
          <td>{$contestant.song}</td>
          <td class="hidden-xs hidden-sm">{$contestant.note}</td>
          <td class="hidden-xs hidden-sm hidden-md">{$contestant.register_time}</td>
          <td class="hidden-xs hidden-sm"><eq name="contestant['confirmed']" value="0"><a href="{:U('confirm',array('netid'=>$contestant['netid']))}" class="btn btn-xs btn-primary">{$Think.lang.MARK_CONFIRMED}</a><else/><a href="{:U('Admin/Grading/setCurrentContestant',array('netid'=>$contestant['netid']))}" class="btn btn-xs btn-success">{$Think.lang.SET_CURRENT_CONTESTANT}</a></eq></td>
          <td class="hidden-xs hidden-sm"><eq name="contestant['accompany_uploaded']" value="0"><a href="{:U('confirm_accompany',array('netid'=>$contestant['netid']))}" class="btn btn-xs btn-default">{$Think.lang.MARK_ACCOMPANY_RECEIVED}</a><else/>{$Think.lang.ACCOMPANY_RECEIVED}</eq></td>
        </tr>
        </volist>
      </tbody>
    </table>
  </div>
</block>
