<extend name="./Application/Common/View/layout.html" />
<block name="subtitle">{$Think.lang.ADMIN_LOGIN_TITLE}</block>
<block name="body">
  <div class="container">
    <div style="max-width:500px;margin-left:auto;margin-right:auto;">
      <form method="POST" class="form-horizontal" style="margin:auto;margin-top:30px;" role="form">
        <notempty name="errmsg">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="alert alert-danger" role="alert"><strong>{$errmsg}</strong></div>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </notempty>

        <div id="pwdinputdiv" class="form-group">
          <label for="netidfield" class="col-sm-2 control-label">{$Think.lang.ADMIN_PASSWORD}</label>
          <div class="col-sm-8">
            <input id="pwdfield" name="pwd" type="password" class="form-control" maxlength="32" required="required">
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-8 col-sm-offset-2">
            <span class="help-block">{$Think.lang.ADMIN_LOGIN_HELP}</span>
          </div>
        </div>
        <center><div class="g-recaptcha" data-size="100%" data-sitekey="{:C('RECAPTCHA_CLIENT_KEY')}" style="margin-bottom:15px;"></div></center>
        <div class="col-sm-8 col-sm-offset-2" style="padding:0px 0px">
          <p>
            <button id="check" type="submit" id="submitbutton" class="btn btn-lg btn-primary btn-block">
              <span class="glyphicon glyphicon-log-in"></span>&nbsp;{$Think.lang.LOGIN_BUTTON}
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</block>
