<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="renderer"content="webkit">
    <title>雪城好声音赛务平台</title>
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://sucssa.pumpkin.name/favicon.ico" type="image/x-icon">
    <style type="text/css">body{padding-top:30px;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif !important;}.starter-template{text-align:center}</style>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top"role="navigation">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand">SUCSSA</a></div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>雪城好声音</h1>
        <p>赛事计分终端</p>
      </div>
    </div>
    <div class="container" style="margin-bottom:40px;">
      <div class="starter-template">
        <h4>当前选手信息</h4>
        <table class="table" style="text-align:center;">
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td>{$contestant.firstname}&nbsp;{$contestant.lastname}</td>
            </tr>
            <tr>
              <th scope="row">姓名</th>
              <td>{$contestant.name}</td>
            </tr>
            <tr>
              <th scope="row">歌曲</th>
              <td>{$contestant.song}</td>
            </tr>
          </tbody>
        </table>
        <form method="POST" class="form-horizontal" style="margin:auto;margin-top:30px;" role="form">
          <input type="hidden" name="contestant_netid" value="{$contestant.netid}">
`         <div id="scoreinputdiv" class="form-group">
            <label for="netidfield" class="col-sm-2 control-label">选手得分</label>
            <div class="col-sm-8">
              <input id="scorefield" name="score" type="number" class="form-control" maxlength="32" required="required">
              <div class="col-sm-2"></div>
              <div class="col-sm-8 col-sm-offset-2">
                <span class="help-block">介于0~100之间的整数</span>
              </div>
            </div>
          </div>`
          <div class="col-sm-8 col-sm-offset-2" style="padding:0px 0px">
            <p>
              <button id="check" type="submit" class="btn btn-lg btn-primary btn-block">
                提交
              </button>
            </p>
          </div>
        </form>
      </div>
      <hr style="margin-top:50px;" />
      <center><h4>当前登录评委：{$grader_name}</h4></center>
      <a href="{:U('grader_logout')}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-log-out"></span>&nbsp;登出</a>
    </div>
  </body>
</html>
