<extend name="./Application/FinalRound/View/Audience/layout.html" />
<block name="body">
  <div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_info"></i></div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">没有等待您评分的选手</h2>
      <p class="weui_msg_desc">当前登录评委：{$Think.session.judge}</p>
    </div>
    <include file="./Application/FinalRound/View/Audience/about.html" />
  </div>
  <script>
    function check_status(){
      $.get("{:U('refresh_check')}",function(data,status){
        if(data!="no"){
          location.reload();
        }
      });
      return;
    }
    setInterval(function(){check_status();},5000);
  </script>
</block>
