<extend name="./Application/Common/View/layout.html" />
<block name="subtitle">
{$Think.lang.CONTEST_SERVICE_PLATFORM}
</block>
<block name="body">
  <div class="container">
    <div class="row" style="text-align:center;">
      <div class="col-md-4">
        <h2>{$Think.lang.CONTESTANT_ENTRANCE}</h2>
        <p>{$Think.lang.CONTESTANT_ENTRANCE_DESCRIPTION}</p>
        <p><a class="btn btn-default" href="{:U('Contestant/Dashboard/index')}" role="button">{$Think.lang.ENTER} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>{$Think.lang.ADMIN_ENTRANCE}</h2>
        <p>{$Think.lang.ADMIN_ENTRANCE_DESCRIPTION}</p>
        <p><a class="btn btn-default" href="{:U('Admin/Dashboard/index')}" role="button">{$Think.lang.ENTER} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>{$Think.lang.JUDGE_ENTRANCE}</h2>
        <p>{$Think.lang.JUDGE_ENTRANCE_DESCRIPTION}</p>
        <p><a class="btn btn-default" href="{:U('Admin/Grading/grader_index')}" role="button">{$Think.lang.ENTER} &raquo;</a></p>
      </div>
    </div>
  </div>
</block>
