<script>
  function showAbout(){
    $('#about').show();
  }
  function hideAbout(){
    $('#about').hide();
  }
</script>
<div class="weui_extra_area">
    <a href="javascript:showAbout();" >关于雪城好声音现场互动程序</a>
</div>
<div class="weui_dialog_alert" id="about" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">关于雪城好声音现场互动程序</strong></div>
        <div class="weui_dialog_bd">本互动与投票系统由周一楠编写<br />如有疑问可联系<br />yzhou109@syr.edu</div>
        <div class="weui_dialog_ft">
            <a href="javascript:hideAbout();" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
