<extend name="./Application/FinalRound/View/Audience/layout.html" />
<block name="body">
  <div style="padding:2em 0;">
    <h1 style="text-align:center;font-size:34px;color:#3cc51f;font-weight:400;margin:0 15%;">当前节目</h1>
    <p style="text-align:center;color:#888;font-size:14px">{$name}</p>
  </div>
  <div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">表演者</div>
    <div class="weui_panel_bd">
      <volist name="casts" id="cast">
      <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
        <div class="weui_media_hd">
          <img class="weui_media_appmsg_thumb" src="{$cast.avatar}">
        </div>
        <div class="weui_media_bd">
          <h4 class="weui_media_title">{$cast.name}</h4>
          <p class="weui_media_desc">{$cast.desc}</p>
        </div>
      </a>
      </volist>
    </div>
  </div>
  <script>
    function check_status(){
      $.get("{:U('get_status')}",function(data,status){
        if(data!="current_program"){
          location.reload();
        }
      });
      return;
    }
    function check_current_program(){
      $.get("{:U('get_current_program')}",function(data,status){
        if(data!="{:getCurrentProgramID()}"){
          location.reload();
        }
      });
      return;
    }
    setInterval(function(){check_status();check_current_program();},10000);
  </script>
</block>
