<extend name="./Application/FinalRound/View/Audience/layout.html" />
<block name="body">
  <div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_waiting"></i></div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">现场互动尚未开始</h2>
      <p class="weui_msg_desc">比赛开始后您将能查看当前表演选手信息<br />第二轮比赛结束后您将可以参与现场投票</p>
    </div>
    <include file="./Application/FinalRound/View/Audience/about.html" />
  </div>
  <script>
    function check_status(){
      $.get("{:U('get_status')}",function(data,status){
        if(data!="off"){
          location.reload();
        }
      });
      return;
    }
    setInterval(function(){check_status();},8000);
  </script>
</block>
