<extend name="./Application/FinalRound/View/Audience/layout.html" />
<block name="body">
  <div style="padding:2em 0;">
    <h1 style="text-align:center;font-size:34px;color:#3cc51f;font-weight:400;margin:0 15%;">雪城好声音</h1>
    <p style="text-align:center;color:#888;font-size:14px">决赛观众投票（观众ID：{$Think.session.audience_id}）</p>
  </div>
    <form method="POST">
      <div class="weui_panel_bd">
        <div class="weui_cells_title">请从下列选手中选择3位投票</div>

        <foreach name="contestants_list" item="cont">
          <div class="weui_cells weui_cells_checkbox">

          <label class="weui_cell weui_check_label" for="box{$key}">
            <div class="weui_cell_hd">
              <input type="checkbox" class="weui_check" id="box{$key}" name="selection[]" value="{$cont}">
              <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
              <p>{$cont}</p>
            </div>
          </label>
          </div>
        </foreach>
        </div>
      </div>
      <div class="weui_btn_area">
        <button class="weui_btn weui_btn_primary" type="submit" id="showTooltips">为他们投票</button>
      </div>
  </form>
  <script>
    function check_status(){
      $.get("{:U('get_status')}",function(data,status){
        if(data!="vote_on"){
          location.reload();
        }
      });
      return;
    }
    setInterval(function(){check_status();},10000);
  </script>
</block>
