<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>雪城好声音观众投票</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/weui/0.4.0/style/weui.css" rel="stylesheet" type="text/css">
    <style>body{padding-top: 50px; padding-bottom:20px;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif !important;}</style>
  </head>
  <body>
    <div class="weui_msg">
      <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_waiting"></i></div>
      <div class="weui_text_area">
        <h2 class="weui_msg_title">现场观众投票尚未开始</h2>
        <p class="weui_msg_desc">请等待现场指令</p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>
      function check_status(){
        $.get("{:U('vote_status')}",function(data,status){
          if(data!="off"){
            location.reload();
          }
        });
        return;
      }
      setInterval(function(){check_status();},2000);
    </script>
  </body>
</html>
