<extend name="./Application/Common/View/layout.html" />
<block name="subtitle">{$Think.lang.VIEW_REGISTRATION_TITLE}</block>
<block name="body">
  <div class="container">
    <div style="max-width:350px;margin-left:auto;margin-right:auto;">
      <table class="table" style="text-align:center;">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>{$contestant.firstname}&nbsp;{$contestant.lastname}</td>
        </tr>
        <tr>
          <th scope="row">{$Think.lang.NAME}</th>
          <td>{$contestant.name}</td>
        </tr>
        <tr>
          <th scope="row">{$Think.lang.EMAIL}</th>
          <td>{$contestant.netid}@syr.edu</td>
        </tr>
        <tr>
          <th scope="row">{$Think.lang.MOBILE}</th>
          <td>{$contestant.mobile}</td>
        </tr>
        <tr>
          <th scope="row">{$Think.lang.SONG}</th>
          <td>{$contestant.song}</td>
        </tr>
        <tr>
          <th scope="row">{$Think.lang.NOTE}</th>
          <td>{$contestant.note}</td>
        </tr>
        <tr>
          <th scope="row">{$Think.lang.REGISTER_TIME}</th>
          <td>{$contestant.register_time}</td>
        </tr>
        <tr>
          <th scope="row">{$Think.lang.STATUS}</th>
          <td><eq name="contestant['confirmed']" value="0">{$Think.lang.STATUS_UNCONFIRMED}<else/>{$Think.lang.STATUS_CONFIRMED}</eq></td>
        </tr>
        <tr>
          <th scope="row">{$Think.lang.ACCOMPANY_SUBMISSION_STATUS}</th>
          <td><eq name="contestant['accompany_uploaded']" value="0">{$Think.lang.ACCOMPANY_SUBMISSION_STATUS_UNCONFIRMED}<else/>{$Think.lang.ACCOMPANY_SUBMISSION_STATUS_CONFIRMED}</eq></td>
        </tr>
      </tbody>
    </table>
    </div>
    <center><a href="{:U('logout')}" role="button" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{$Think.lang.LOGOUT}</a></center>
  </div>
</block>
