<extend name="./Application/Common/View/layout.html" />
<block name="subtitle">{$Think.lang.VIEW_REGISTRATION_TITLE}</block>
<block name="bodu">
  <div class="container">
    <div style="max-width:350px;margin-left:auto;margin-right:auto;">
      <table class="table" style="text-align:center;">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>{$contestant.firstname}&nbsp;{$contestant.lastname}</td>
        </tr>
        <tr>
          <th scope="row">姓名</th>
          <td>{$contestant.name}</td>
        </tr>
        <tr>
          <th scope="row">电子邮箱</th>
          <td>{$contestant.netid}@syr.edu</td>
        </tr>
        <tr>
          <th scope="row">手机号</th>
          <td>{$contestant.mobile}</td>
        </tr>
        <tr>
          <th scope="row">演唱曲目</th>
          <td>{$contestant.song}</td>
        </tr>
        <tr>
          <th scope="row">备注</th>
          <td>{$contestant.note}</td>
        </tr>
        <tr>
          <th scope="row">报名时间</th>
          <td>{$contestant.register_time}</td>
        </tr>
        <tr>
          <th scope="row">状态</th>
          <td><eq name="contestant['confirmed']" value="0">成功提交报名表<br />等待SUCSSA确认<else/>SUCSSA 已确认</eq></td>
        </tr>
        <tr>
          <th scope="row">提交伴奏状态</th>
          <td><eq name="contestant['accompany_uploaded']" value="0">SUCSSA文娱部尚未确认<br />请尽快发送您的歌曲伴奏至<br />suwenyubu@gmail.com<else/>SUCSSA 文娱部已确认</eq></td>
        </tr>
      </tbody>
    </table>
    </div>
    <center><a href="{:U('logout')}" role="button" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span>&nbsp;登出</a></center>
  </div>
</block>
