<extend name="./Application/Common/View/layout.html" />
<block name="subtitle">{$Think.lang.CONTESTANT_LOGIN_TITLE}</block>
<block name="body">
  <notpresent name="Think.session.recaptcha_passed"><script src="https://www.google.com/recaptcha/api.js?hl={$Think.lang.RECAPTCHA_LANG_CODE}"></script></notpresent>
  <div class="container">
    <div style="max-width:500px;margin-left:auto;margin-right:auto;">
      <form method="POST" class="form-horizontal" style="margin:auto;margin-top:30px;" role="form">
        <notempty name="errmsg">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="alert alert-danger" role="alert"><strong>{$errmsg}</strong></div>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </notempty>

        <div id="netidinputdiv" class="form-group">
          <label for="netidfield" class="col-sm-2 control-label">SU Mail</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input id="netidfield" name="netid" type="text" class="form-control" maxlength="32" required="required" placeholder="NETID" value="{$Think.post.netid}">
              <span class="input-group-addon">@syr.edu</span>
            </div>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-8 col-sm-offset-2">
            <span class="help-block">{$Think.lang.CONTESTANT_LOGIN_HELP}</span>
          </div>
        </div>
        <notpresent name="Think.session.recaptcha_passed"><center><div class="g-recaptcha" data-size="normol" data-sitekey="6Lfa2xYTAAAAAP9pKODwPMQxBYhe9p4jV4uhpibM" style="margin-bottom:15px;"></div></center></notpresent>
        <div class="col-sm-8 col-sm-offset-2" style="padding:0px 0px">
          <button id="check" type="submit" id="submitbutton" class="btn btn-lg btn-primary btn-block">
            {$Think.lang.CONTESTANT_LOGIN_CHECK_BUTTON}
          </button>
        </div>
        <div class="col-sm-2"></div>
      </form>
    </div>
  </div>
</block>
